@page
@model IndexModel
@{
    ViewData["Title"] = "員工資料維護";
}

<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<div class="container-fluid">
  <!-- Content here -->
    <div class="row">
        <button type="button" class="btn btn-primary" onclick="/Employee/Add">新增</button>
    </div>

    
    <div class="row">
        <div class="col-sm">
            <div class="alert alert-info" role="alert">
                共有 @Model.Employees.Count 筆員工資料
            </div>
        </div>
    </div>

	<%foreach (var employee in Model.Employees)
    <div class="row">
        <div class="col-sm">
            <div class="alert alert-danger" role="alert">
                @employee["Name"] , @employee["PersonId"]
            </div>
        </div>
    </div>


    
</div>
