@page
@model IndexModel
@{
    ViewData["Title"] = "員工資料維護";
}

<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<div class="container-fluid">
  <!-- Content here -->


    
    <div class="row">
        <div class="col-sm">
			<button type="button" class="btn btn-primary" onclick="/Employee/Add">新增</button>
            <div class="alert alert-warning" role="alert">
                共有 @Model.Employees.Count 筆員工資料
            </div>
        </div>
    </div>

	
	@foreach (Employee employee in Model.Employees)
	{
    <div class="row">
        <div class="col-sm">
            <div class="alert alert-info" role="alert">
                <div class="card">
                    <h4 class="card-header">
    					@employee.Name
    				</h4>
                    <div class="card-body">
                        <h4 class="card-title">身分證號</h4>
                        <p class="card-text">
    						@employee.PersonId
    					</p>
    					<h4 class="card-title">其他屬性</h4>
                        <p class="card-text">
                            @employee.Password , @employee.Id
                        </p>
                        <a href="#" class="btn btn-primary">修改</a>
    					<a href="#" class="btn btn-primary">刪除</a>
                    </div>
                </div>
		    </div>
        </div>
    </div>
    }


	
</div>
